{% extends "main/base.html" %}
{% load static %}
{% block content %}







<section class="objects">
      <div class="container">
        <div class="row">


          {% for el in commerce %}

          <div class="col-md-3">
          <div class="objects__content">
            {% for elem in projectImage %}
              {% if elem.image_project.id == el.announcement.id %}
               <div class="objects__content-img" style="background: url({{ elem.image.url }}); background-size: cover;">
                 <span class="objects__content-price">{{ el.announcement.price }} ₽</span>
               </div>
              {% endif %}
            {% endfor %}
          <div class="objects__content-info">
          <span class="objects__name">{{ el.name|slice:":47"  }}...</span>
          <img class="objects__location-img" src="{% static 'img/placeholder.svg' %}">
          <span class="objects__location">
          {{ el.announcement.cities }}, {{ el.announcement.address }}
          </span>
          <ul>
          <li><img src="{% static 'img/ruler.svg' %}">{{ el.announcement.totalarea }} м²</li>
          <li><img src="{% static 'img/stairs.svg' %}">{{ el.floor }} этажей</li>
          </ul>
          <a href="{{request.get_full_path}}{{ el.id }}/" class="btn__class">посмотреть</a>
            </div>
          </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section>

{% endblock %}
